body{
    display: flex;
    flex-direction: column;
}

#askedQuestions{
    align-self: center;
}

#addQuestion{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    margin: 30px
}

#questionForm{
    align-items: center;
}