
.images{
height: 5px;
width: 5px;
display: inline-flex;
padding: 5px;
margin-top: 30px;
}
.image0{
    margin:10px;
}
.image1{
    margin: 10px;
}
.image2{
    margin: 10px;
}
.image3{
    margin: 10px;
}

.footerline{
    margin-bottom: 1px;
}

