#main{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#join-options{
    display: flex;
    
}
#join-options>div{
    border: 1px solid gray;
    box-shadow: 1px 2px gray;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 236, 236);
    
}
.join-opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.join-opt>a{
    text-decoration: none;
    color: white;
    background-color: rgb(34, 78, 255);
    padding:5px;
    border-radius: 6px;
}