.carousel-wrapper{
    margin-left: 20px;
    margin-right: 20px;
}

body {
    background-color: white;
}
body h1 {
  padding: 50px;
    text-align: center;
font-size: 28px;
justify-content: center;
display: flex;
align-items: center;
font-weight: bold;
}
form {
    height: 300vh;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(223, 223, 223, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
  }
  label {
    display: inline-block;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: blue;
    color: white;
    padding: 10px 20px;
  }
  .toptext li {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    padding: 5px;
  }
  .toptext p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    font-weight: bold;
  }
  .nameandEmail {
width: 100%;
  }