@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;500;700&family=Libre+Baskerville:wght@400;700&display=swap');

body{
    margin:0;
    font-family: 'Geologica', sans-serif;
    font-family: 'Libre Baskerville', serif;
}
.nav-bar{
    position: static;
    width: 100%;
    background-color: rgb(0, 0, 99);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-options{
    display: flex;
    align-items: center;
}
.main-options>a{
    padding:10px;
    color: white;
    text-decoration: none;
}
.login>a{
    color: white;
    text-decoration: none;
    padding:10px;
}
#logo{
    width: 200px;
}
